In [1]:
# import psycopg2
import numpy as np
import pandas as pd
# from datetime import datetime
# import matplotlib.pyplot as plt

In [2]:
cohort = pd.read_csv('cohort.csv')
cohort.shape

(49211, 41)

In [3]:
cohort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49211 entries, 0 to 49210
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  49211 non-null  int64
 1   birthdate                49211 non-null  object
 2   gender                   49211 non-null  object
 3   married                  49211 non-null  bool
 4   has_children             49211 non-null  bool
 5   home_country             49211 non-null  object
 6   home_city                49211 non-null  object
 7   home_airport             49211 non-null  object
 8   home_airport_lat         49211 non-null  float64
 9   home_airport_lon         49211 non-null  float64
 10  sign_up_date             49211 non-null  object
 11  session_id               49211 non-null  object
 12  trip_id                  16702 non-null  object
 13  session_start            49211 non-null  object
 14  session_end              49211 non-null  object
 15  flight_discount          49211 non-null  bool
 16  hotel_discount           49211 non-null  bool
 17  flight_discount_amount   8282 non-null   float64
 18  hotel_discount_amount    6205 non-null   float64
 19  flight_booked            49211 non-null  bool
 20  hotel_booked             49211 non-null  bool
 21  page_clicks              49211 non-null  int64
 22  cancellation             49211 non-null  bool
 23  origin_airport           14270 non-null  object
 24  destination              14270 non-null  object
 25  destination_airport      14270 non-null  object
 26  seats                    14270 non-null  float64
 27  return_flight_booked     14270 non-null  object
 28  departure_time           14270 non-null  object
 29  return_time              13652 non-null  object
 30  checked_bags             14270 non-null  float64
 31  trip_airline             14270 non-null  object
 32  destination_airport_lat  14270 non-null  float64
 33  destination_airport_lon  14270 non-null  float64
 34  base_fare_usd            14270 non-null  float64
 35  hotel_name               14726 non-null  object
 36  nights                   14726 non-null  float64
 37  rooms                    14726 non-null  float64
 38  check_in_time            14726 non-null  object
 39  check_out_time           14726 non-null  object
 40  hotel_per_room_usd       14726 non-null  float64
dtypes: bool(7), float64(12), int64(2), object(20)
memory usage: 13.1+ MB

In [4]:
cohort = cohort.drop(columns=[col for col in cohort.columns if 'Unnamed' in col])

In [34]:
# Define a function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    distance = R * c
    
    return distance

# Apply the haversine function to create a new column 'haversine_distance'
cohort['haversine_distance'] = cohort.apply(
    lambda row: haversine(
        row['home_airport_lat'], row['home_airport_lon'],
        row['destination_airport_lat'], row['destination_airport_lon']
    ),
    axis=1
)